img {
    width: 70px;
    height: 70px;
    margin-top: 20px;
}

header {
    margin: 0 auto;
    text-align: center;
    width: 900px;
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: rgb(179, 217, 248);
    gap: 10px;
    border: 1px solid black;
}

.subtitulo{
    display: flex;
    justify-content: center;
    gap: 30px;
}

main{
    margin: 0 auto;
    display: flex;
    width: 900px;
}

.navbar{
    width: 120px;
    background-color: rgb(42, 40, 40);
}

nav{
    list-style: none;
}

.navbar ul{
    padding: 0;
    background-color: white;
    height: 30px;
    margin: 5px 10px;
    text-align: center;
}

.navbar ul a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.nombre{
    display: flex;
}

strong{
    margin: 16px;
}

aside{
    width: 780px;
    padding: 5px 50px;
    border: 1px solid black;
}
